# Home Library Database
This notebook is intened to provide useful information between `sqlite3` and `python`.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.dates as mdates
import matplotlib.pyplot as plt
from pandas import *
from sklearn.linear_model import LinearRegression as lr
import sqlite3

In [2]:
# Reading a CSV file
category = pd.read_csv('Category.csv')

In [3]:
category.head(3)

,Category_ID,Description
0,Foundation of Mathematics,This deals with the mathematical investigation...
1,Number Theory,This is the study of numbers and the propertie...
2,Algebra,This is a broad subject including Order theory...

In [4]:
category.index

RangeIndex(start=0, stop=19, step=1)

In [5]:
# Set Category_ID to be an index
category = category.set_index('Category_ID')

In [6]:
category.tail(3)

                                                            Description
Category_ID
Python                An interpreted, object-oriented, high-level pr...
Personal Development  This covers subject to improve awareness and i...
Religious Book        This is all about books related to religious m...